<h3>Create an account</h3>
<form (ngSubmit)="onSubmit()" class="ui form" [formGroup]="authForm">
  <app-input
    inputType="text"
    label="Username"
    [control]="authForm.controls.username"
  ></app-input>

  <app-input
    inputType="password"
    label="Password"
    [control]="authForm.get('password')"
  ></app-input>

  <app-input
    inputType="password"
    label="Confirm Password"
    [control]="authForm.get('passwordConfirmation')"
  ></app-input>
  <div
    *ngIf="
      authForm.get('password').touched &&
      authForm.get('passwordConfirmation').touched &&
      authForm.errors
    "
    class="ui red basic label"
  >
    <p *ngIf="authForm.errors.passwordsDontMatch">Passwords don't match</p>
    <p *ngIf="authForm.errors.noConnection">
      No Connection to the Internet detected
    </p>
    <p *ngIf="authForm.errors.unknownError">Failed to sign up</p>
  </div>

  <div class="button field">
    <button class="ui submit button primary">Submit</button>
  </div>
</form>
